.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.footer__column-link:hover {
  opacity: 30%;
  transition: opacity 3s ease;
}

.footer__column-link:nth-of-type(3n) {
  margin-bottom: 16px;
}
